.box{
    width:100%;
}

.con{
    border-radius: 12rpx;
    background:#eee;
    margin:13rpx 0;
}
.oh3{
    width:100%;
    height: 90rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 26rpx;
    box-sizing: border-box;
}