.swiper{
  width:100%;
  height:486rpx;
}

.pic .img{
  width:100%;
}

.oh2{
  width:100%;
  height:90rpx;
  line-height:90rpx;
  display: flex;
  justify-content: space-around;
  background: #f4f4f4;
}

.oh2 .img{
  width:100%;
  text-align: center;
}
.con{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cute{
  width:50%;
  height:260rpx;
  text-align: center;
}

.cute .img{
  width:90%;
  height:90%;
  border-radius: 12rpx;
}